<header id="header" class="header fixed-top d-flex align-items-center">
	<div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center">
      <img src="assets/logo.png" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
  </div>
    <ul class="nav navbar-toolbar">
      <%= link_to "Home", root_path, class: 'nav-link' %>
      <%= link_to 'Gmaps', gmaps_path, class: 'nav-link' %>
      <%= link_to 'Lightbox', lightbox_path, class: 'nav-link' %>
      <%= link_to 'Mixitup', sliderform_path, class: 'nav-link' %>
      
			<!-- <div class="dropdown">
			  <button >Dropdown</button>
			  <div class="dropdown-options">
			    <%#= link_to 'Form Justdails', new_path, class: 'nav-link' %>
			    <a href="#"><%#= link_to 'Owl Carousel', elementform_path %></a>
			    
			    <a href="#"><%#= link_to 'Form Layout', layoutform_path %></a>
			  </div>
			</div> -->
			<%#= link_to 'sign_out', destroy_login_session_path %>
      
    </ul>

</header>
