<main id="main" class="main">
  <body>
    <!-- <div class="wrapper"> -->
      <div class="single-gallary">
        <img src="/assets/product-2" alt="">
        <div class="gallary-text">
          <h2>Web Design</h2>
          <p>I am a web designer in xyz company</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="single-gallary">
        <img src="/assets/product-3" alt="your photo caption">
        <div class="gallary-text">
          <h2>Logo Design</h2>
          <p>I am a Logo designer in xyz company</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="single-gallary">
        <img src="/assets/product-4" alt="your photo caption">
        <div class="gallary-text">
          <h2>App Design</h2>
          <p>I am a App designer in xyz company</p>
          <a href="#">Learn more</a>
        </div>
      </div>
    <!-- </div> -->

  </body>
</main>
<script>
  $(document).ready(function(){
    $(".single-gallary").AutoLightbox({
      width: 800,
      height: 600
    }); 
  });
</script>